
li > a:link, a:visited {
    background-color: white;
    border: 2px solid red;
    color: black;
    padding: 14px 15px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: red;
  }

  li {
      list-style: none;
      margin-bottom: 10px;
  }

  .sidebar {
      width: 450px;
      border-right: 1px solid lightgray;
  }

  .AddFol {
      margin-left: 40px;
  }

  .selected {
    background-color: blueviolet;
    font-size: 20px;
}