* {
    box-sizing: border-box;
}

body{
    font-size: 17px;
}

header {
    border-bottom: 2px solid gray;
}

h1 {
    padding-left: 25px;
}

h1:hover {
    color: rgb(13, 155, 20);
  }

  main {
      display: flex;
      flex-direction: row;
  }
  
  .noteBox {
      margin: 10px;
      padding: 10px;
      border: 1px solid black;
  }